body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 250px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.nav-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 50px;
    padding-bottom: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
    gap: 20px;
}

.hero-left h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-left p, .hero-image {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left a, .cta-button a {
    flex-grow: 0;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

.hero-left a {
    border:1px solid #337fed;
}

.hero-left a:hover, .cta-button a:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.hero-left a:active, .cta-button a:active {
	position:relative;
	top:1px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 250px;
    background-color: #676768;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
}

.card-container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 50px;
}

.card {
    width: 200px;
}

.card img {
    height: 200px;
    width: inherit;
    border: 5px solid #3d94f6;
    border-radius: 10px;
}

.card p {
    text-align: center;
    margin-top: 0px;
}

.testimony-container {
    background-color: #E5E7EB;
}

.testimony {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 100px;
}

.testimony h2 {
    align-self: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.testimony p {
    width: 95%;
    text-align: end;
    font-weight: 700;
    color: #1F2937;
    margin-top: 0;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 50px;
    margin: 0 auto;
    padding: 50px 0;
    margin-bottom: 100px;
    border-radius:10px;
    background-color: #3882F6;
}

.cta h3, p {
    margin: 0;
    color: white;
}

.cta p {
    font-size: 18px;
}

.cta-button a {
    border:1px solid #ffffff;
}